doctype html
html
  head
    title National Dance Academy
    block scripts
    block style
  Body
    nav#navbar 
        ul 
            div#logo 
                img(src="/static/img/logo.png")
            li #[a(href="/") HOME] 
            li #[a(href="/") SERVICES]
            li #[a(href="/") CLASS-INFORMATION]
            li #[a(href="/contact") CONTACT ]
    block content
    block foot 
        #footer  For more details visit danceacademy.instagram.com..! 